@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__subtitle/profile__subtitle.css);
@import url(./__title/profile__title.css);




.profile {
    width: 100%;
    display: flex;
    padding-top: 40px;
    box-sizing: border-box;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}




@media screen and (max-width: 620px) {
    .profile {
        max-width: 282px;
        padding-top: 42px;
        margin: 0 auto;
        justify-content: center;
    }
}
