.button_type_close {
    width: 41px;
    height: 41px;
    position: absolute;
    top: -35px;
    right: -35px;
    background-image: url("../../../images/edit-form_close-icon.svg");
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 620px) {
    .button_type_close {
        width: 35px;
        height: 35px;
        top: -45px;
        right: 0;
}

}