@import url(./__logo/header__logo.css);
@import url(./__line/header__line.css);
@import url(./__stripe/header__stripe.css);

.header {
    width: 100%;
    padding-top: 45px;
    box-sizing: border-box;
    border-bottom: 1px solid #545454;
}