@import url(./__card/elements__card.css);
@import url(./__image/elements__image.css);
@import url(./__info/elements__info.css);
@import url(./__title/elements__title.css);
@import url(./__list/elements__list.css);


.elements {
    width: 100%;
    padding-top: 57px;
    margin: 0 auto;
}

@media (min-width: 620px) and (max-width: 881px) {
    .elements {
        width: 582px;
        padding-top: 36px;
    }
}

@media screen and (max-width: 620px) {
    .elements {
        width: 282px;
    }
}