@import url(./__card/elements__card.css);
@import url(./__image/elements__image.css);
@import url(./__info/elements__info.css);
@import url(./__title/elements__title.css);
@import url(./__like/elements__like.css);


.elements {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    padding-top: 57px;
    column-gap: 18px;
    row-gap: 20px;
}